.viewSection_Container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    margin: 0rem 3rem;
    
}

.sectionNameKlass{
    font-weight: bold;
}



Button.addTaskButton{
    background-color: transparent;
    color: #db4c3f;
    border: none;
    padding: 0;
   
}

Button.addTaskButton:hover{
    background-color: transparent;
    color: #db4c3f;
    border: none;
}

Button.addTaskButton:active{
    background-color: transparent;
    color: #db4c3f;
    border: none;
}

input[type="text"].taskInput {
    border: 1px solid #e1e0e0;
    width: 16rem;
}

.task_container{
    border: 1px solid gray;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
}

.classPlusButton{
    background-color: #db4c3f;
    border: none;

}

.classPlusButton:hover{
    background-color: #db4c3f;
    border: none;
    
}

.classPlusButton:disabled{
    background-color: gray;
    border: none;
    
}

.itemsDone{
    text-decoration: line-through;
}

.itemsDontDone{
    border: 1px solid rgb(191, 191, 191);
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    margin-bottom: 5px;
}

