.App_Container{
  display: grid;
  grid-template-rows: auto 1fr ;
  grid-template-columns: 25% 75%;

  grid-template-areas: 
  "header header"
  "sidebar main"
  ;
}

#header{
  grid-area: header;
  background-color: #db4c3f;
 
}

#sidebar{
  grid-area: sidebar;
  background-color: #fafafa;
  min-height: 90vh;
  
}

#main{
  grid-area: main;
  background-color: white;
}